body {
    font-family: 'fantasy',papyrus;
    padding: 30px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://free4kwallpapers.com/uploads/originals/2020/05/05/kitten-lying-wallpaper.jpg);
    background-size:cover;
    background-position: center;
    color: white;

  }
  
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 25px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
  }
  